/* ---- reset ---- */
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  max-width: 414px;
  max-height: 736px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 414px;
  max-height: 736px;
}
a{
  text-decoration: none;
}
/* Log in page */

.container {
  margin: 0 auto;
  background-color: #fff2dd !important;
  height: 100%;
  margin-top: -3rem;
  padding-top: 45px;
}
.container-tourNavigator {
  margin: 0 auto;
  background-color: #fff2dd !important;
  height: 100%;
  padding-top: 45px;
  margin-bottom: 10px;
  margin-bottom: 4rem;
}
.flex-column{
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.flex-column h1{
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #fff2dd;
  background-color: rgb(151, 102, 123, 0.9);
}
.backfground{
  background-image: url(./img/homeScreen.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100vh;
}
.user-box {
  background-color: rgba(0, 0, 0, 0.40);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: -100px;
}
.user-box-signup {
  background-color: rgba(0, 0, 0, 0.40);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: -70px;
}
.flex-start label{
  color: #fff2dd;
}

.user-box-input{
  border: none;
  height: 1.4rem;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.64);
  color: #fff2dd;
  font-size: 1.3rem; 
}
.flex-start{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.space-around{
  justify-content: space-around;
}
.button-log{
  font-size: 1.3rem;
  background-color: rgb(255,255,255, 0);
  font-weight:bolder;
  color:#fff2dd;
  text-align:center;
  transition: all 0.2s;
  padding: 0.35em 5em;
  border: none;
  border: 1px solid #fff2dd;
}
.link{
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: #97667b;
}
.p-link {
  font-size: 1.3rem;
}
/* general content */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  max-width: 414px;
  width: 100%;
  height: 50px;
  background-color: #97667b;
  text-align: center;
  color: white;
  -webkit-box-shadow: 2px 4px 37px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 37px -13px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 37px -13px rgba(0,0,0,0.75);
}
.navbar h1{
font-family: 'Pacifico', cursive;
margin: 0;
font-size: 2rem;
}

.sing-up{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.sing-up h3{
  font-size: 1.5rem;
  margin-right: 25px;
}

.bottombar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #97667b;
  box-shadow: 0 2px 1px 5px rgba(0,0,0,.2);
  text-align: center;
  max-width: 414px;
  max-height: 736px;
}
.bottombar h1{
margin: 0;
}
.clear{
clear: both;
}
.bottombar img{
  height: 1.8rem;
}
.bottombar div{
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
}

.button.is-info {
  background-color: #e68572 !important;
  border-color: transparent;
  color: #fff;
}

.has-text-centered {
  background-color: #fff2dd !important;
  border-color: #e68572 !important;
  opacity: 0.7 !important;
}
/* Card */
.card-container{
  position: relative;
  display: inline-block;
  text-align: center;
}

.cardsText {
  position: absolute;
  top: 81px;
  background-color: rgb(255, 255, 255, 0.82);
  width: 100%;
  color: #97667b;
  max-height: 300px;
}

.card-info{
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.cardsText  h2{
  font-weight: bolder;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
.cardsText h1{
  font-weight: bolder;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
.card-img img{
  height: 250px;
  width: 100%
}
/* Home page */

.home-container{
  margin-top: 2.7rem;
  height: 100vh;
}
.box{
  background: transparent;
  box-shadow: none;
  padding: 1rem 1.25rem 0;
  position: fixed;
  width: 100%;
  max-width: 414px;
  max-height: 736px;
  margin-top: 10px;
  z-index: 9999;
}
/* Create page */
.create-box {
  box-shadow: -5px -5px 15px 0px #97667b, 3px 4px 20px 5px #97667b;
  width: 90vw;
  margin: 0 auto;
  border-radius: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  background-color: #fdf8ee;
}
.tours-list{
  padding-top: 4.7rem;;
}
.create-box h1{
  padding: 0.7rem 0 0 0rem;
  text-align: center;
  color: #97667b;
  font-weight: bolder;
  font-size: 1.7rem;
}
.create-btn{
  justify-content: space-around;
  background-color: #97667b;
  padding: 5px 62px;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  color: white;
  margin-top: 60px;

}
.flex-column-create{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.colores{
  background: rgb(17,208,207);
  background: rgb(242,224,141);
  background: rgb(235,122,183);
}
.flex-create {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 80px;

}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #e68572;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #97667b;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #e68572;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #97667b;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

/* create POI conainer */
.container-POI{
  margin: 6rem 0;
}
/* profile conainer */
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileInfo img{
  border-radius: 50%;
  width: 10rem;
  margin-bottom: 1rem;
}
.profileContainer {
  margin-top: 4rem;
  margin-bottom: 3rem;
  height: 100vh;
}
.profileInfo a{
  padding: 0.5rem 5rem;
  background-color: #97667b;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bolder;
}

/* ----------- */
#map {
  margin-top: 6px;
  position: relative;
  width: 99%;
  height: 50vh;
  padding-top: 1rem;
}
  .button-save {
    position: relative;
    
  }
  .mapboxgl-canvas{
    width: 100%;
    height: 334px;
    margin: 0rem;
  }
  .mapboxgl-ctrl input{
    position: absolute;
    top: 3.1rem;
    right: 1.3rem;
    border: 1px solid rgb(109, 108, 108);
    text-align: center;
    font-size: 1.1rem;
    width: 291px;
    border-radius: 0.5rem;
  }
  ul.suggestions{
    background-color: white;
    position: absolute;
    right: 0rem;
    top: 4.8rem;
    width: 17rem;
    color: white;
    font-size: 1rem;
  }
  div.mapboxgl-ctrl.mapboxgl-ctrl-group{
    margin-top: 1rem;
  }

  .poi-button {
    padding: 7px 36px;
    margin-right: 6px;
    background-color: #97667b;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 0px;
  }
  /* Edit Profile */
  .saveEditProfile-btn {
    background-color: rgb(17,208,207);
    padding: 8px 55px;
    font-size: 1rem;
    border: none;
    color:white;
    margin-top: 0.5rem;
  }
  .uploadButton{
    padding: 8px 20px;
    font-size: 1rem;
    border: 2px solid #e68572;
    color: #e68572;
    margin-top: 1.2rem;
    width: 80%;
  }

  .uploadButton-poi{
    padding: 8px 20px;
    font-size: 1rem;
    border: 2px solid #e68572;
    color: #e68572;
    margin-top: 1.2rem;
    width: 100%
  }

  .editForm{
    margin-top: 3rem;
    text-align: center;
    height: 100vh;
  }
  .userName{
    font-size: 2rem;
    text-align: center;
  }
  /* detail tour page */
  .detailTourTitle{
    background-color: #976675;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: -26px;
  }
  .startTourBtn{
    background-color: #97667b;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 0.8rem;
    font-weight: bolder;
  }
  .startBtnContainer{
    text-align: center;
  }
  .detailDescription{
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .commentSection{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: #fff2dd;
  }
  .commentSection h1{
    font-weight: 900;
    text-align: center;
    color: #97667b;
    margin-top: 15px;
  }
  .commentSection input{
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-style: none;
    border: 1px solid #e68572;
    background-color: #e68572;
    background-color: #fff2dd;
  }
  .commentSection form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .commentBox{
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
  .commentTitle{
    font-size: 2rem;
  }
  .comments-btn{
    padding: 0px 17px;
    border: none;
    background-color: #97667b;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.7rem;
  }

  .delate-tour {
    position: absolute;
    margin-bottom: 10px;
  }
  .delate-tour form button{
    padding: 10px 20px;
    color: white;
    background-color: #97667b;
    border: none;
    border-radius: 0.2rem;
  }


  /* Tour Navigator page */

  .tours-poi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  } 

  .tours-poi-h2{
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;

  } 

  .popup-container {
    position: absolute;
    top: 100px;
    width: 85%;
    background-color: #e68572;
    padding: 20px;
    left: 8%;
    color: white;
    z-index: 9;
}

  .popup-info {
    display: flex;
    flex-direction: column;
  }

  .popup-info h1,h2,p{
    text-align: center;
    font-weight: bolder;
  }

  .button-poi-detail {
    background-color: #ffefd6;
    border: 3px solid #d4c6cc;
    padding-bottom: 5px;
  }

  .button-poi-detail h3{
    color: #97667b;
    font-weight: bolder;
  }

  .logout {
    position: absolute;
    top: 100px;
    left: 0;
  }

  .logout button{
    background-color: #97667b;
    color: white;
    font-weight: bolder;
    border: none;
    padding: 10px;
  }

  .tour-detail-container{

    margin-top: 1.9rem;

  }